<div class="row">
  <div class="col-sm-12">
    <h2 *ngIf="client">Hi, {{ client.name }}</h2>
    <h3 class="page-header">Welcome to your Dashboard</h3>
    <h4>1. Select the icons for the information you would like to receive</h4>
    <h4>2. Scroll to the bottom of the page to complete the form</h4>
    <h4>(Messages are sent once a day at the specified time)</h4>
    <div class="row">
          <div class="col-sm-12 col-md-6 icon" [class.chosen]="hasWeather">
            <h3>Weather</h3>
            <img (click)="toggleWeather()" [src]="weatherIcon" alt="Weather">
          </div>
          <div class="col-sm-12 col-md-6 icon" [class.chosen]="hasQuote">
            <h3>Quote of the Day</h3>
            <img (click)="toggleQuote()" [src]="quoteIcon" alt="Quote">
          </div>
          <div class="col-sm-12 col-md-6 icon" [class.chosen]="hasNews">
            <h3>News Headlines</h3>
            <img (click)="toggleNews()" [src]="newsIcon" alt="News">
          </div>
          <div class="col-sm-12 col-md-6 icon" [class.chosen]="hasTravel">
            <h3>Travel Time to Work</h3>
            <img (click)="toggleTravel()" [src]="travelIcon" alt="Travel">
          </div>

          <div class="col-sm-12" *ngIf="displayForm()">
            <h3 class="page-header">Information Needed</h3>
            <form (submit)="onMsgSubmit()">
              <div *ngIf="hasWeather" class="form-group">
                <h4>Weather</h4>
                <input type="checkbox" [(ngModel)]="hasWeather" name="hasWeather" class="form-control hide">
                <input type="text" [(ngModel)]="zipCode" name="zipCode" class="form-control" placeholder="Enter Address or Zip Code">
              </div>
              <div class="form-group">
                <input type="checkbox" [(ngModel)]="hasQuote" name="hasQuote" class="form-control hide">
              </div>
              <div *ngIf="hasNews" class="form-group">
                <h4>News</h4>
                <input type="checkbox" [(ngModel)]="hasNews" name="hasNews" class="form-control hide">
                <select [(ngModel)]="newsSource" name="newsSource" (ngModelChange)="onNewsChange($event)">
                  <option>CNN</option>
                  <option>Google News</option>
                  <option>The New York Times</option>
                </select>
              </div>
              <div *ngIf="hasTravel" class="form-group">
                <h4>Travel Time by car</h4>
                <input type="checkbox" [(ngModel)]="hasTravel" name="hasTravel" class="form-control hide">
                <label>Home Address</label>
                <input type="text" [(ngModel)]="homeAddress" name="homeAddress" class="form-control">
                <label>Work Address</label>
                <input type="text" [(ngModel)]="workAddress" name="workAddress" class="form-control">
              </div>

            <div class="form-group">
              <h4>What time would you like your message sent?</h4>
              <flash-messages></flash-messages>
              <input type="text" [(ngModel)]="msgTime" name="msgTime" class="form-control" placeholder="hh:mm am">
            </div>

              <input type="submit" value="Submit" class="btn btn-primary">
            <input type="button" (click)="sendMessageNow()" value="Send Sample Message Now" class="btn btn-success">
            <input type="button" (click)="stopMsgs()" value="Cancel Messages" class="btn btn-danger">
            </form>

          </div>
    </div>
</div>
</div>
