<div id="main">
  <div id="icons">
    <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Sunrise-icon.png" alt="Sunrise" id="sunrise-icon" class="home-icons">
    <img src="http://www.iconarchive.com/download/i91329/icons8/windows-8/Mobile-Sms.ico" alt="Text Message" class="home-icons">
  </div>
  <div>
    <h4 id="text">
      Get daily texts sent to your phone with: <br/>
      <span class="typing"></span>
    </h4>
  </div>
  <a routerLink="dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a>

</div>
