<div id="main">
  <div>
    <h2 id="text">
      Get daily texts sent to your phone with: <br/>
      <span class="typing"></span>
    </h2>
  </div>
  <a *ngIf="authService.loggedIn(); else sign_up" routerLink="dashboard" class="btn btn-primary btn-lg cta">Go to Dashboard</a>
  <ng-template #sign_up>
    <a routerLink="register" class="btn btn-primary btn-lg cta">Sign Up Today!</a>
  </ng-template>
  <div class="row" id="icons">
    <div class="col-sm-12">
      <img [src]="sunriseIcon" alt="Sunrise" class="home-icons">
      <img [src]="smsIcon" alt="Text Message" class="home-icons">
    </div>
  </div>
</div>
